#input{
  width:100%;
}
#input_container{
  width:max-content;
  justify-content: space-between;
  margin:30px auto;
  align-items: center;
  display:flex;
  flex-direction:row;
}

#input_container button{
  display:inline;
  border: 2px solid cadetblue;
  margin-left:20px;
  font-size:2rem;
  border-radius: .6rem;
  background-color: #ACC8E8;
  font-weight: bold;
}
#input_container input {
  border: 2px solid cadetblue;
  border-radius: .5rem;
  font-size:2rem;
}
button{
  cursor:pointer;
}
@media (max-width: 600px) {
  #input_container button{
      border:1px solid #9C7E7B;
      border-radius: .25rem;
      font-size:1rem;
  }
  #input_container input {
      border:1px solid #9C7E7B;
      border-radius: .25rem;
      font-size:1rem;
  }
  #input_container{
      margin:15px auto;
  }
}
